<div class="status-comments">
  <% status.comments.each do |comment| %>
    <div class="status-comment">
        <div class="left">
          <% if comment.user.avatar? %>
            <%= link_to image_tag(comment.user.avatar.small_avatar), comment.user %>
          <% else %>
            <%= link_to image_tag("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c178.0.604.604/s160x160/252231_1002029915278_1941483569_n.jpg", style:"width: 32px" ), status.user %>
          <% end %>
        </div>
        <div class="right">
          <%= link_to comment.user.name, comment.user %>
      
          <%= comment.content %></br>
          <span class="post-time"><%= time_ago_in_words(comment.created_at) %> ago</span>
          <a onclick= "like_or_unlike_comment(<%= current_user.id %>,<%= comment.id %>,this)" >
            <% if comment.liked_by? current_user %>
              Unlike
            <% else %>
              Like
            <% end %>
          </a>
          <span class="num"><%= comment.like_comments.count if comment.like_comments.count > 0  %></span>
          <% if status.user_id == current_user.id || comment.user_id == current_user.id %>
            <%= link_to "edit", "#", class: "non-redirect edit_comment_btn" %>
            <%= link_to "delete", user_status_comment_path(@user, status, comment), method: :delete, confirm: "Are you sure?" %> 
          <% end %>
        </div>
        <div class="clearfix"></div>
    <div class="edit_comment_wrap" style="display: none" >
      <%= form_for [current_user, status, comment] do |f| %>
        <%= f.text_area :content %>
        <%= f.submit "Edit comment" %>
      <% end %>
    </div>
  <% end %>
</div>
  <%= form_for [current_user, status, @comment] do |f|%>
    <div class="comment">
      <%= f.text_area :content, placeholder:"Write comment...", class: "comment_status", onkeyup:"textAreaAdjust(this)" %>
    </div>
  <% end %>
</div>
