<h3>Change Users Profile</h3>

<%= form_for current_user, method: :patch do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <div><%= f.label :email %>
  <%= f.email_field :email, disabled: true %></div>

  <div><%= f.label :birthday %>
  <%= f.date_field :birthday %></div>

  <%= f.radio_button :gender, "male" %> Male
  <%= f.radio_button :gender, "female" %> Female<br>

  <div><%= f.label :status_relationship %>
  <%= f.text_area :status_relationship %></div>

  <div><%= f.label :address %>
  <%= f.text_area :address %>

  <%= f.label :favorite_book %>
  <%= f.text_area :favorite_book %>

  <%= f.label :favorite_quote %>
  <%= f.text_area :favorite_quote %>

  <div><%= f.submit "Update" %></div>
<% end %>
<%= link_to "Cancel", :back %>