<% if current_user?(@user) || @user.public? || (current_user.friended?(@user) && @user.friend?) %>
  <div class="status_content" >  
    <ul>
      <li>Name: <a><%= @user.name %></a></li>
      <li>Email: <a><%= @user.email %></a></li>
      <li>Birthday: <a><%= I18n.l @user.birthday %></a></li>
      <li>Gender: <a><%= @user.gender %></a></li>
      <% if @user.status_relationship.present? %>
        <li>User status relationship: <a><%= @user.status_relationship %></a></li>
      <% end %>
      <% if @user.address.present? %>
        <a><li>User address: <%= @user.address %></a></li>
      <% end %>
      <% if @user.favorite_book.present? %>
        <a><li>User favorite book: <%= @user.favorite_book %></a></li>
      <% end %>
      <% if @user.favorite_quote.present? %>
        <a><li>User favorite quote: <%= @user.favorite_quote %></a></li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <h4>This information is private!</h4>
<% end %>