<div class="menu_user">
  <li><%= link_to "Friends", user_friendships_path(@user) %>(<%= @user.friendships.count %>)</li>
  <li><%= link_to "View profile", profile_user_path(@user) %></li> 
  <li><%= link_to "Albums", user_albums_path(@user) %>
  <% if @user.albums.count > 0 %>
    (<%= @user.albums.count %>)</br>
    <% end %></li>
  <% if current_user?(@user) %>
    <li><%= link_to "Create group", new_user_group_path(current_user) %></li>
  <% end %>
</div>
<div>
  <%= render "friend_form" if signed_in? %>
</div>
<% if current_user.friended?(@user) || current_user?(@user) %>
  <%= render "statuses/new" %>
<% end %>
<% @statuses.order_desc_created_at.each do |status| %>
  <% if status.shared_by?(@user) || status.concern?(@user) %>
    <% if current_user?(@user) || (current_user.friended?(@user) && status.friend?) || status.public? %>
      <%= render "status_comments", status: status %>
    <% end %>
  <% end %>
<% end %>