<% provide(:title, "All friend") %>
<h3>All friends (<%= @user.friendships.count %>)</h3>

<% @user.friendships.each do |friendship| %>
  <div>
    <%= link_to gravatar_for(friendship.friended), friendship.friended %>
    <%= link_to friendship.friended.name, friendship.friended %>
    <%= link_to "Unfriend", user_friendship_path(current_user, friendship.friended), method: :delete, confirm: "Are you sure?"%>
  </div>
<% end %>
<%= render "invite_friend" %>